<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <title>Admin panel</title>

    <!-- App css -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/admin/css/core.css" rel="stylesheet" type="text/css"/>
    <link href="/static/admin/css/components.css" rel="stylesheet" type="text/css"/>
    <link href="/static/admin/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="/static/admin/css/pages.css" rel="stylesheet" type="text/css"/>
    <link href="/static/admin/css/menu.css" rel="stylesheet" type="text/css"/>
    <link href="/static/admin/css/responsive.css" rel="stylesheet" type="text/css"/>

    <style>
        .entity td:nth-child(2n) {
            text-align: right
        }
    </style>

</head>
<body class="fixed-left">
<!-- Begin page -->
<div id="wrapper">

    <!-- Top Bar Start -->
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
            <a href="/admin/" class="logo">Confstat</a>
        </div>

        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">

                <!-- Page title -->
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button class="button-menu-mobile open-left">
                            <i class="zmdi zmdi-menu"></i>
                        </button>
                    </li>
                    <li>
                        <h4 class="page-title">{% block section_name %}{% endblock %}</h4>
                    </li>
                </ul>
            </div><!-- end container -->
        </div><!-- end navbar -->
    </div>
    <!-- Top Bar End -->


    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <ul>
                    <li>
                        <a href="/admin/" class="waves-effect">
                            <i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span>
                        </a>
                    </li>

                    <li>
                        <a href="/admin/logs" class="waves-effect">
                            <i class="zmdi zmdi-collection-text"></i> <span> Logs </span>
                        </a>
                    </li>

                    <li>
                        <a href="/admin/settings" class="waves-effect">
                            <i class="zmdi zmdi-settings"></i> <span> Settings </span>
                        </a>
                    </li>

                    <li>
                        <a href="/admin/exit" class="waves-effect">
                            <i class="zmdi zmdi-power"></i> <span> Exit </span>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- Sidebar -->
            <div class="clearfix"></div>

        </div>

    </div>
    <!-- Left Sidebar End -->


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">{% block content %}{% endblock %}</div> <!-- container -->

        </div> <!-- /content -->
        <footer class="footer text-right">
            2016 - 2017 © Adminto.
        </footer>
    </div>


    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->
</div>
<!-- END wrapper -->


<script>
    var resizefunc = [];
</script>
<!-- jQuery  -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/admin/js/fastclick.js"></script>

<!-- App js -->
<script src="/static/admin/js/jquery.core.js"></script>
<script src="/static/admin/js/jquery.app.js"></script>
</body>
</html>