{% extends "admin/base.html" %}

{% block section_name %}Dashboard{% endblock %}

{% block content %}
    <style>
    .fa {
        width: 18px;
    }
    </style>
    <div class="row">

        <div class="col-lg-4">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30">Users</h4>
                <div class="widget-detail-1">
                    <h2 class="p-t-10 m-b-0">{{ stats['all_users'] }}</h2>
                    <p class="text-muted">All users count</p>
                </div>
                <div class="widget-detail-1">
                    <h2 class="p-t-10 m-b-0">{{ stats['today_users'] }}</h2>
                    <p class="text-muted">Active users count for 24 hours</p>
                </div>
            </div>
        </div><!-- end col -->

        <div class="col-lg-4">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30">Chats</h4>
                <div class="widget-detail-1">
                    <h2 class="p-t-10 m-b-0">{{ stats['all_chats'] }}</h2>
                    <p class="text-muted">All groups count</p>
                </div>
                <div class="widget-detail-1">
                    <h2 class="p-t-10 m-b-0">{{ stats['today_chats'] }}</h2>
                    <p class="text-muted">New groups count for 24 hours</p>
                </div>
            </div>
        </div><!-- end col -->

        <div class="col-lg-4">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30">Messages</h4>
                <div class="widget-detail-1">
                    <h2 class="p-t-10 m-b-0">{{ stats['all_messages'] }}</h2>
                    <p class="text-muted">All messages count</p>
                </div>
                <div class="widget-detail-1">
                    <h2 class="p-t-10 m-b-0">{{ stats['today_messages'] }}</h2>
                    <p class="text-muted">Messages count for 24 hours</p>
                </div>
            </div>
        </div><!-- end col -->
    </div>

    <!-- end row -->

    <div class="row">
        <div class="col-lg-6">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30">Last active chats</h4>

                <div class="table-responsive">
                    <table class="table entity">
                        <tbody>
                        {% for chat in stats['last_chats'] %}
                            <tr>
                                <td><i class="fa fa-comments" aria-hidden="true"></i>
                                    <span class="icon-about">
                                                <a href="/group/{{ Chat.get(chat.cid).hash }}" target="_blank">
                                                    {{ Chat.get(chat.cid).title }}
                                                </a> ({{ chat.msg_count }} messages)
                                            </span>
                                </td>
                                <td>{{ format_time(chat.last_time) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- end col -->

        <div class="col-lg-6">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30">Entities</h4>

                <div class="table-responsive">
                    <table class="table entity">
                        <tbody>
                        <tr>
                            <td><i class="fa fa-paperclip" aria-hidden="true"></i>
                                <span class="icon-about">Total</span>
                            </td>
                            <td>{{ entities.total }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-picture-o" aria-hidden="true"></i>
                                <span class="icon-about">Photos</span>
                            </td>
                            <td>{{ entities.photo }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-music" aria-hidden="true"></i>
                                <span class="icon-about">Audio</span></td>
                            <td>{{ entities.audio }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-video-camera" aria-hidden="true"></i>
                                <span class="icon-about">Videos</span></td>
                            <td>{{ entities.video }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-file" aria-hidden="true"></i>
                                <span class="icon-about">Files</span></td>
                            <td>{{ entities.document }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-link" aria-hidden="true"></i>
                                <span class="icon-about">Links</span></td>
                            <td>{{ entities.url }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-hashtag" aria-hidden="true"></i>
                                <span class="icon-about">Hashtags</span></td>
                            <td>{{ entities.hashtag }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-code" aria-hidden="true"></i>
                                <span class="icon-about">Commands</span></td>
                            <td>{{ entities.bot_command }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-user" aria-hidden="true"></i>
                                <span class="icon-about">Mentions</span></td>
                            <td>{{ entities.mention }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- end col -->

    </div>
    <!-- end row -->
{% endblock %}